*{
    margin-top: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background:#001e4d ;
}

.app{
    background :#fff ;
    width: 70%;
    max-width: 6oopx;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 800;
    border-bottom : 1px solid#333; 
    padding-bottom: 30px;
}

.title{
    color : white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 40;
    font-style:italic;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color :#001e4d;
    font-weight: 800;
}

.btn{
    background:#fff;
    color:#222;
    font-weight: 700;
    width: 100%;
    border :1px solid #222;
    padding: 20px;
    margin : 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover{
    background: #222;
    color :#fff;
}

#prochain-quizz{
    background: #001e4d;
    color:#fff;
    width: 150px;
    border: 0;
    padding:10px;
    margin:20px auto 0;
    border-radius : 4px;
    cursor : pointer;
    display : block; 
}

.options{
    display:block;
    margin: 20px;
    text-align: center;    
}

.choix{
    color: bisque;
    font-size: 30px;
    margin-right: 50px;
    
}